dist/*
dist
.idea/
.idea/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.card
node_modules
node_modules/*
*/node_modules
*/node_modules/*
**/node_modulesnode_modules/
